input::placeholder {
  color: antiquewhite;
}

.navbar {
  background: var(--card-bg);
}

/* Card start*/
.card {
  overflow: hidden;
  background: yellow;
  /* color: var(--bg); */
}

.card.large {
  border-radius: 5px;
}

div.content {
    color: #6d6875;
    padding: 1%;
}

div.content:hover {
    color: #1d3557;
    font-weight: bold;

}

div.card-content {
    padding: 5%;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background: white;
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: ghostwhite;
  margin: 10px
}

#footer-text {
    font-weight: bold;
    white-space: nowrap;
    margin-left: 8%;
}

#footer-textUser {
    font-weight: bold;
    white-space: nowrap;
}